<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzzSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>748A946C1D7EC1AC005436E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748A94801D7EC1AC005436E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748A948B1D7EC1AC005436E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
